<title>Superuser </title>
<div  >
  <div id="content" class="app-content ng-scope"  role="main" ui-view="content@"><div class="box ng-scope">
		  <!-- Content Navbar -->
      <div w3-include-html="/templates/navTop" class="hm-nav-bar-top">&nbsp;</div>

		  <!-- Content -->
		  <div class="box-row">
			<div class="box-cell">
			  <!-- uiView:  --><div class="box-inner padding ng-scope" ui-view="" id="view"><!-- uiView:  --><div ui-view="" class="ng-scope">
		  <div class="row ng-scope">
		     <div class="col-md-3 hm-nav-bar-aside">
				<div class="col-sm-12">
				  <h5 class="no-margin m-b b">
          Admin dashboard</h5>
				  <div class="list-group list-group-gap">
					<a href="/superuser" class="list-group-item md-whiteframe-z1 bd-l-red ">
					  <span class="mdi-action-home pull-left"></span><span class="margin-3 lc-nav-home">  Home </span> <span class="mdi-toggle-radio-button-on text-danger pull-right"></span>
					</a>
          <a href="/settings/company"  class="list-group-item md-whiteframe-z0">
					  <span class="mdi-social-location-city pull-left"></span><span  class="margin-3 lc-nav-cprofile">   Company Profile </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
					<a href="/accounts"  class="list-group-item md-whiteframe-z0">
					  <span class="glyphicon glyphicon-user pull-left"></span><span  class="margin-3 lc-nav-accounts">   Manage Accounts </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
          <a href="/settings/structures"  class="list-group-item md-whiteframe-z0">
					  <span class="mdi-hardware-desktop-windows pull-left"></span><span  class="margin-3 lc-nav-sclass">   Classes &amp; Subjects </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
		  <a href="/settings/exams"  class="list-group-item md-whiteframe-z0">
					  <span class="mdi-hardware-desktop-windows pull-left"></span><span  class="margin-3 lc-nav-sclass">   Exams &amp; Terms </span> <span class="mdi-navigation-chevron-left pull-right"></span>
				</a>
					<a href="/accounts/id.card" class="list-group-item md-whiteframe-z0">
					  <span class="glyphicon glyphicon-certificate pull-left"></span><span  class="margin-3 lc-nav-ids">   Identification Cards </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
          <a  href="/settings/grading" class="list-group-item md-whiteframe-z0">
					  <span class="mdi-action-grade pull-left"></span><span  class="margin-3 lc-nav-grade">   Set Grading Scale </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
					<a href="/settings/messenger" class="list-group-item md-whiteframe-z0">
					  <span class="glyphicon  glyphicon-phone pull-left"></span><span  class="margin-3 lc-nav-inter">   Messaging &amp; Emails </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
					<a href="/logins" class="list-group-item md-whiteframe-z0">
					  <span class="mdi-action-input pull-left"></span><span  class="margin-3 lc-nav-log">   Monitor Logins  </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
          <a href="/backup" class="list-group-item md-whiteframe-z0">
					  <span class="mdi-action-settings-backup-restore pull-left"></span><span  class="margin-3 lc-nav-brest">   Backups &amp; Restore  </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
				  </div>
				</div>
			  </div>
			  <div class="col-md-8">
					<h5>Dashboard</h6>
					
					<div id="content-wrapper" class="smart-center-pos" style="margin-top: -5%; ">

					<div class="container">         
						<div id="slider" class="template hasHeader  wall  ">

							<div id="slider-ct" class="slick-initialized slick-slider slick-dotted">
									


							<div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1358px; transform: translate3d(0px, 0px, 0px);"><div class="slide slick-slide slick-current slick-active" data-order="0" tabindex="0" role="tabpanel" id="slick-slide40" aria-describedby="slick-slide-control40" style="width: 1358px;" data-slick-index="0" aria-hidden="false">
							<div class="bgTheme-light colorTheme-1">
									
						<div class="view-board--wall bgTheme-light colorTheme-1 " style="background:#ffffff;background:linear-gradient(145deg, #ffffff, #ffffff 40%, #ffffff);" data-id="nwq5odfk">
							

							<div class="view-board-inner " style="width: 71%; height: 396px; font-size: 3.64762px; top: 0px; margin-left: -5px;">

								<div class="view-board-content">
									<div class="view-board-content-inner content-inner" data-id="nwq5odfk">

											
						<div>

						<!---->
							<div class="blocks gridboard gridboard-instance-1657 gridboard-static gridboard-animate">

							<div class="gridboard-item ui-draggable ui-draggable-handle ui-resizable ui-draggable-disabled ui-resizable-disabled" data-blockid="86487926" data-order="1" data-localid="24" data-transitioning="false" data-gb-id="24" data-gb-min-width="2" data-gb-min-height="2" data-gb-max-width="16" data-gb-max-height="8" data-gb-no-move="false" data-gb-no-resize="false" data-gb-x="9" data-gb-y="4" data-gb-width="7" data-gb-height="4" style="margin-top:18%;">
										<div class="gridboard-item-content     ">

													
						<div class="preview-block  visualization--4" data-sample-v="2046130792" data-order="1" data-localid="24" style="font-size:7.082068174999999px;--block-bg-color:transparent;" data-clientrender-v="-347024066">
							<div role="link" class="block-link disabled " style="">

								<div id="b86487926" class="block    " style="font-size:9px;">
										<div class="active-block">
											<small></small>
						<!---->                    <span role="button" class="del tooltipstered"><span class="icon icon-delete"></span><span class="faketooltipcomponent">
						</span>
						</span>
											<span role="button" class="copy tooltipstered"><span class="icon icon-duplicate"></span><span class="faketooltipcomponent">
						</span>
						</span>
						<!----><!---->                </div>
						<!---->
												<div class="block-content ">


								
						<div class="block-content__top">

							
						<div class="cdr-range-inline   theme-dark  ">
						<!---->
							<a class="range-selector em ">
								<span class="date">

										Month to Date

										(Apr 1 - 12)
								</span>
								<span class="icon icon-arrow-down"></span>
							</a>
						</div>


							<div class="block-options">
						<!---->            
							<a class="visualization-switch icon icon-visualization-switch "></a>

						<!---->    </div>

						</div>


								<div class="block-content__main" role="button">

									
						<div class="bc__title">
							
						<div class="editable-text editable-text-title tooltipstered">
								<div role="button">
									Gross Volume
								</div>

									<span class="faketooltipcomponent">
						</span>


								
						</div>

						</div>



											<div class="bc__top-numbers bc__top-numbers--single ">
							<div class="bc_top-numbers-inner" style="max-height: 21.6027px; height: auto;">
								<a class="arrow arrow--prev">&lt;</a>
								<div class="bc_top-numbers-grid" style="width: auto;">
										<div class="bc__number action-target  bc__number--right-compare" data-dsid="18907180" style="font-size: 1em;">

						<!---->
							<span class="bc__number-content">

								<span class="bc__value-wrapper">
									
						<span class="bc__value" style="display: inline-block; font-size: 1.3em;">
						<!---->
								$ 8,943.00
						</span>

								</span>

						<!---->
								

							<div class="bc__compares">
										<div class="bc__compare bc__compare--negative">
											<span class="bc__compare__change">▼ 9%</span>
													<small class="bc__compare__text">
														vs previous period
														 ($ 9,876.00)
													</small>
										</div>
							</div>


							</span>

						</div>

								</div>
								<a class="arrow arrow--next">&gt;</a>
							</div>
						</div>


											
						<div class="bc__chart size--normal" data-highcharts-chart="5" aria-hidden="false" role="region" aria-label="Chart. Highcharts interactive chart." style="height: 87.0137px; overflow: hidden;"><div id="highcharts-screen-reader-region-before-5" aria-hidden="false" style="position: relative;"><div class="highcharts-visually-hidden" aria-hidden="false"><p>Chart</p><div>Chart with 2 data series.</div><div>The chart has 1 X axis displaying categories. </div><div>The chart has 1 Y axis displaying values. Data ranges from 5139 to 9837.</div></div></div><div aria-hidden="false" class="highcharts-announcer-container" style="position: relative;"><div aria-hidden="false" aria-live="polite" class="highcharts-visually-hidden"></div><div aria-hidden="false" aria-live="assertive" class="highcharts-visually-hidden"></div><div aria-hidden="false" aria-live="polite" class="highcharts-visually-hidden"></div></div><div id="highcharts-ed4k9pd-152" dir="ltr" class="highcharts-container main-count--1" aria-hidden="false" tabindex="0"><div aria-hidden="false" class="highcharts-a11y-proxy-container-before" style="top: 0px; left: 0px;"></div><div aria-hidden="false" class="highcharts-a11y-proxy-container-after" style="top: 0px; left: 0px;"><div class="highcharts-a11y-proxy-group highcharts-a11y-proxy-group-zoom"></div><div class="highcharts-a11y-proxy-group highcharts-a11y-proxy-group-legend" aria-label="Toggle series visibility, Chart" role="region"><ul role="list"><li><button class="highcharts-a11y-proxy-button highcharts-no-tooltip" aria-label="Show Gross Volume" tabindex="-1" aria-pressed="true" style="width: 54.1408px; height: 9.48438px; left: 73px; top: 96px;"></button></li><li><button class="highcharts-a11y-proxy-button highcharts-no-tooltip" aria-label="Show Gross Volume" tabindex="-1" aria-pressed="true" style="width: 58.814px; height: 9.48438px; left: 138px; top: 96px;"></button></li></ul></div><div class="highcharts-a11y-proxy-group highcharts-a11y-proxy-group-chartMenu"></div></div><div class="dbx-annotation-event-catcher" aria-hidden="true" style="bottom: 25.1158px; left: 21px; width: 238px; height: 11.8979px;"></div><div class="highcharts-legend highcharts-no-tooltip" aria-hidden="true" style="position: absolute; left: 69px; top: 75px; opacity: 1; visibility: inherit;"><div style="position: absolute; left: 0px; top: 0px; opacity: 1;"><div style="position: absolute; left: 0px; top: 0px; opacity: 1;"><div class="highcharts-legend-item highcharts-areaspline-series highcharts-color-14 type-0 highcharts-series-1" style="position: absolute; left: 3.54103px; top: -1.45897px; opacity: 1;"><span data-z-index="2" style="position: absolute; white-space: nowrap; margin-left: 0px; margin-top: 0px; left: 0px; top: 2px;"><span class="dbx-hc-legend-item">Gross Volume</span></span></div><div class="highcharts-legend-item highcharts-areaspline-series highcharts-color-99 type-1 highcharts-series-0" style="position: absolute; left: 68.1641px; top: -1.45897px; opacity: 1;"><span data-z-index="2" style="position: absolute; white-space: nowrap; margin-left: 0px; margin-top: 0px; left: 0px; top: 2px;"><span class="dbx-hc-legend-item">Previous period</span></span></div></div></div></div></div><div id="highcharts-screen-reader-region-after-5" aria-hidden="false" style="position: relative;"><div class="highcharts-visually-hidden" aria-hidden="false"><div id="highcharts-end-of-chart-marker-5" class="highcharts-exit-anchor" tabindex="0" aria-hidden="false">End of interactive chart.</div></div></div></div>


									
								</div>

							
						<!---->
						</div>


								</div>

						<!---->
									
						<div class="data-status-icon data-status-icon-for-block theme-light">
								<span class="icon icon-info color--default"></span>
						</div>

								

							</div>
						</div>


										</div>
									<div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div></div><div class="gridboard-item ui-draggable ui-draggable-handle ui-resizable ui-draggable-disabled ui-resizable-disabled" data-blockid="86487927" data-order="2" data-localid="25" data-transitioning="false" data-gb-id="25" data-gb-min-width="2" data-gb-min-height="2" data-gb-max-width="16" data-gb-max-height="8" data-gb-no-move="false" data-gb-no-resize="false" data-gb-x="5" data-gb-y="4" data-gb-width="4" data-gb-height="4" style="margin-top:18%;">
										<div class="gridboard-item-content     ">

													
						<div class="preview-block  visualization--9" data-sample-v="-1458108163" data-order="2" data-localid="25" style="font-size:6.6468961px;--block-bg-color:transparent;" data-clientrender-v="-332963731">
							<div role="link" class="block-link disabled " style="">

								<div id="b86487927" class="block    ">
										<div class="active-block">
											<small></small>
						<!---->                    <span role="button" class="del tooltipstered"><span class="icon icon-delete"></span><span class="faketooltipcomponent">
						</span>
						</span>
											<span role="button" class="copy tooltipstered"><span class="icon icon-duplicate"></span><span class="faketooltipcomponent">
						</span>
						</span>
						<!----><!---->                </div>
						<!---->
												<div class="block-content ">


								
						<div class="block-content__top">

							
						<div class="cdr-range-inline   theme-dark  ">
						<!---->
							<a class="range-selector em ">
								<span class="date">

										Month to Date

										(Apr 1 - 12)
								</span>
								<span class="icon icon-arrow-down"></span>
							</a>
						</div>


							<div class="block-options">
						<!---->            
							<a class="visualization-switch icon icon-visualization-switch "></a>

						<!---->    </div>

						</div>


								<div class="block-content__main" role="button">

									
						<div class="bc__title">
							
						<div class="editable-text editable-text-title tooltipstered">
								<div role="button">
									Account Analytics
								</div>

									<span class="faketooltipcomponent">
						</span>


								
						</div>

						</div>



										
						<div class="bc__table ">
							<table width="100%" cellspacing="0" cellpadding="0" style="font-size:6px;">
								<colgroup>
						<!---->            <col> 
										<col class="hideable col--0">
											<col class="hideable col--0">
								</colgroup>
								<thead>
									<tr class="bc__table__row--header">
						<!---->                <th class="bc__table__cell--label">
											<span class="bc__label">
												Metric
											</span>
										</th>
											<th class="bc__table__cell--value hideable col--0 action-target" data-colidx="0">
												<span class="bc__label">
													Value
												</span>
						<!----><!---->                    </th>
												<th class="bc__table__cell--compare hideable col--0 action-target" data-colidx="0">
													
						<span class="bc__label" title="">vs prev</span>

						<!---->                        </th>
									</tr>
								</thead>
								<tbody>

										<tr>
						<!---->                    <td class="bc__table__cell--label action-target" data-dsid="18907189">
												<span class="bc__label">
													Gross Volume
												</span>
											</td>
												<td class="bc__table__cell--value hideable col--0 action-target" data-dsid="18907189">
															<div class="bc__number">
																
						<span class="bc__value">
						<!---->
								$ 6,263.00
						</span>

															</div>
												</td>
													<td class="bc__table__cell--compare hideable col--0 action-target" data-dsid="18907189">
															<div class="bc__number">
																

							<div class="bc__compares">
										<div class="bc__compare bc__compare--positive">
											<span class="bc__compare__change">0%</span>
						<!---->                </div>
							</div>

															</div>
													</td>
										</tr>
										<tr>
						<!---->                    <td class="bc__table__cell--label action-target" data-dsid="18907185">
												<span class="bc__label">
													New Customers
												</span>
											</td>
												<td class="bc__table__cell--value hideable col--0 action-target" data-dsid="18907185">
															<div class="bc__number">
																
						<span class="bc__value">
						<!---->
								1,766
						</span>

															</div>
												</td>
													<td class="bc__table__cell--compare hideable col--0 action-target" data-dsid="18907185">
															<div class="bc__number">
																

							<div class="bc__compares">
										<div class="bc__compare bc__compare--negative">
											<span class="bc__compare__change">▼ 18%</span>
						<!---->                </div>
							</div>

															</div>
													</td>
										</tr>
										<tr>
						<!---->                    <td class="bc__table__cell--label action-target" data-dsid="18907187">
												<span class="bc__label">
													Payments
												</span>
											</td>
												<td class="bc__table__cell--value hideable col--0 action-target" data-dsid="18907187">
															<div class="bc__number">
																
						<span class="bc__value">
						<!---->
								70,522
						</span>

															</div>
												</td>
													<td class="bc__table__cell--compare hideable col--0 action-target" data-dsid="18907187">
															<div class="bc__number">
																

							<div class="bc__compares">
										<div class="bc__compare bc__compare--negative">
											<span class="bc__compare__change">▼ 28%</span>
						<!---->                </div>
							</div>

															</div>
													</td>
										</tr>
										<tr>
						<!---->                    <td class="bc__table__cell--label action-target" data-dsid="18907183">
												<span class="bc__label">
													ARR
												</span>
											</td>
												<td class="bc__table__cell--value hideable col--0 action-target" data-dsid="18907183">
															<div class="bc__number">
																
						<span class="bc__value">
						<!---->
								$ 192.00
						</span>

															</div>
												</td>
													<td class="bc__table__cell--compare hideable col--0 action-target" data-dsid="18907183">
															<div class="bc__number">
																

							<div class="bc__compares">
										<div class="bc__compare bc__compare--negative">
											<span class="bc__compare__change">▼ 68%</span>
						<!---->                </div>
							</div>

															</div>
													</td>
										</tr>

						<!---->
								</tbody>
							</table>

						</div>



								</div>

							
						<!---->
						</div>


								</div>

									
						<div class="data-status-icon data-status-icon-for-block theme-light">
								<span class="icon icon-info color--default"></span>
						</div>

								

							</div>
						</div>


										</div>
									<div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div></div><div class="gridboard-item ui-draggable ui-draggable-handle ui-resizable ui-draggable-disabled ui-resizable-disabled" data-blockid="86487928" data-order="3" data-localid="26" data-transitioning="false" data-gb-id="26" data-gb-min-width="2" data-gb-min-height="2" data-gb-max-width="16" data-gb-max-height="8" data-gb-no-move="false" data-gb-no-resize="false" data-gb-x="5" data-gb-y="0" data-gb-width="11" data-gb-height="4">
										<div class="gridboard-item-content     ">

													
						<div class="preview-block  visualization--4" data-sample-v="257589858" data-order="3" data-localid="26" style="font-size:6.225993999999999px;--block-bg-color:transparent;" data-clientrender-v="1595135285">
							<div role="link" class="block-link disabled " style="">

								<div id="b86487928" class="block    ">
										<div class="active-block">
											<small></small>
						<!---->                    <span role="button" class="del tooltipstered"><span class="icon icon-delete"></span><span class="faketooltipcomponent">
						</span>
						</span>
											<span role="button" class="copy tooltipstered"><span class="icon icon-duplicate"></span><span class="faketooltipcomponent">
						</span>
						</span>
						<!----><!---->                </div>
						<!---->
												<div class="block-content ">


								
						<div class="block-content__top">

							
						<div class="cdr-range-inline   theme-dark  ">
						<!---->
							<a class="range-selector em ">
								<span class="date">

										Month to Date

										(Apr 1 - 12)
								</span>
								<span class="icon icon-arrow-down"></span>
							</a>
						</div>


							<div class="block-options">
						<!---->            
							<a class="visualization-switch icon icon-visualization-switch "></a>

						<!---->    </div>

						</div>


								<div class="block-content__main" role="button">

									
						<div class="bc__title">
							
						<div class="editable-text editable-text-title tooltipstered">
								<div role="button">
									New Customers
								</div>

									<span class="faketooltipcomponent">
						</span>


								
						</div>

						</div>



											<div class="bc__top-numbers bc__top-numbers--single ">
							<div class="bc_top-numbers-inner" style="max-height: 22.0821px; height: auto;">
								<a class="arrow arrow--prev">&lt;</a>
								<div class="bc_top-numbers-grid" style="width: auto;">
										<div class="bc__number action-target  bc__number--right-compare" data-dsid="18907193" style="font-size: 1em;">

						<!---->
							<span class="bc__number-content">

								<span class="bc__value-wrapper">
									
						<span class="bc__value" style="display: inline-block; font-size: 1.3em;">
						<!---->
								3,094
						</span>

								</span>

						<!---->
								

							<div class="bc__compares">
										<div class="bc__compare bc__compare--negative">
											<span class="bc__compare__change">▼ 12%</span>
													<small class="bc__compare__text">
														vs previous period
														 (3,501)
													</small>
										</div>
							</div>


							</span>

						</div>

								</div>
								<a class="arrow arrow--next">&gt;</a>
							</div>
						</div>


											
						<div class="bc__chart size--small" data-highcharts-chart="6" aria-hidden="false" role="region" aria-label="Chart. Highcharts interactive chart." style="height: 92.4107px; overflow: hidden;"><div id="highcharts-screen-reader-region-before-6" aria-hidden="false" style="position: relative;"><div class="highcharts-visually-hidden" aria-hidden="false"><p>Chart</p><div>Chart with 2 data series.</div><div>The chart has 1 X axis displaying categories. </div><div>The chart has 1 Y axis displaying values. Data ranges from 1077 to 4928.</div></div></div><div aria-hidden="false" class="highcharts-announcer-container" style="position: relative;"><div aria-hidden="false" aria-live="polite" class="highcharts-visually-hidden"></div><div aria-hidden="false" aria-live="assertive" class="highcharts-visually-hidden"></div><div aria-hidden="false" aria-live="polite" class="highcharts-visually-hidden"></div></div><div id="highcharts-ed4k9pd-155" dir="ltr" class="highcharts-container main-count--1" aria-hidden="false" tabindex="0"><div aria-hidden="false" class="highcharts-a11y-proxy-container-before" style="top: 0px; left: 0px;"></div><div aria-hidden="false" class="highcharts-a11y-proxy-container-after" style="top: 0px; left: 0px;"><div class="highcharts-a11y-proxy-group highcharts-a11y-proxy-group-zoom"></div><div class="highcharts-a11y-proxy-group highcharts-a11y-proxy-group-legend" aria-label="Toggle series visibility, Chart" role="region"><ul role="list"><li><button class="highcharts-a11y-proxy-button highcharts-no-tooltip" aria-label="Show New Customers" tabindex="-1" aria-pressed="true" style="width: 52.9902px; height: 8.43759px; left: 156px; top: 100px;"></button></li><li><button class="highcharts-a11y-proxy-button highcharts-no-tooltip" aria-label="Show New Customers" tabindex="-1" aria-pressed="true" style="width: 51.7077px; height: 8.43759px; left: 218px; top: 100px;"></button></li></ul></div><div class="highcharts-a11y-proxy-group highcharts-a11y-proxy-group-chartMenu"></div></div><div class="dbx-annotation-event-catcher" aria-hidden="true" style="bottom: 21.9511px; left: 19px; width: 397px; height: 10.4597px;"></div><div class="highcharts-legend highcharts-no-tooltip" aria-hidden="true" style="position: absolute; left: 147px; top: 96px; opacity: 1; visibility: inherit;"><div style="position: absolute; left: 0px; top: 0px; opacity: 1;"><div style="position: absolute; left: 0px; top: 0px; opacity: 1;"><div class="highcharts-legend-item highcharts-areaspline-series highcharts-color-14 type-0 highcharts-series-1" style="position: absolute; left: 5px; top: 0px; opacity: 1;"></div><div class="highcharts-legend-item highcharts-areaspline-series highcharts-color-99 type-1 highcharts-series-0" style="position: absolute; left: 73px; top: 0px; opacity: 1;"></div></div></div></div><div class="highcharts-legend highcharts-no-tooltip" aria-hidden="true" style="position: absolute; left: 152px; top: 82px; opacity: 1; visibility: inherit;"><div style="position: absolute; left: 0px; top: 0px; opacity: 1;"><div style="position: absolute; left: 0px; top: 0px; opacity: 1;"><div class="highcharts-legend-item highcharts-areaspline-series highcharts-color-14 type-0 highcharts-series-1" style="position: absolute; left: 3.113px; top: -1.887px; opacity: 1;"><span data-z-index="2" style="position: absolute; white-space: nowrap; margin-left: 0px; margin-top: 0px; left: 0px; top: 2px;"><span class="dbx-hc-legend-item">New Customers</span></span></div><div class="highcharts-legend-item highcharts-areaspline-series highcharts-color-99 type-1 highcharts-series-0" style="position: absolute; left: 65.452px; top: -1.887px; opacity: 1;"><span data-z-index="2" style="position: absolute; white-space: nowrap; margin-left: 0px; margin-top: 0px; left: 0px; top: 2px;"><span class="dbx-hc-legend-item">Previous period</span></span></div></div></div></div></div><div id="highcharts-screen-reader-region-after-6" aria-hidden="false" style="position: relative;"><div class="highcharts-visually-hidden" aria-hidden="false"><div id="highcharts-end-of-chart-marker-6" class="highcharts-exit-anchor" tabindex="0" aria-hidden="false">End of interactive chart.</div></div></div></div>


									
								</div>

							
						<!---->
						</div>


								</div>

									
						<div class="data-status-icon data-status-icon-for-block theme-light">
								<span class="icon icon-info color--default"></span>
						</div>

								

							</div>
						</div>


										</div>
									<div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div></div><div class="gridboard-item ui-draggable ui-draggable-handle ui-resizable ui-draggable-disabled ui-resizable-disabled" data-blockid="86487929" data-order="4" data-localid="27" data-transitioning="false" data-gb-id="27" data-gb-min-width="2" data-gb-min-height="2" data-gb-max-width="16" data-gb-max-height="8" data-gb-no-move="false" data-gb-no-resize="false" data-gb-x="0" data-gb-y="0" data-gb-width="5" data-gb-height="3" style="font-size:22px;height:59%;">
										<div class="gridboard-item-content     ">

													
						<div class="preview-block  visualization--1" data-sample-v="1628184726" data-order="4" data-localid="27" style="font-size:4.0468961px;--block-bg-color:transparent;" data-clientrender-v="1099339513">
							<div role="link" class="block-link disabled " style="">

								<div id="b86487929" class="block    ">
										<div class="active-block">
											<small></small>
						<!---->                    <span role="button" class="del tooltipstered"><span class="icon icon-delete"></span><span class="faketooltipcomponent">
						</span>
						</span>
											<span role="button" class="copy tooltipstered"><span class="icon icon-duplicate"></span><span class="faketooltipcomponent">
						</span>
						</span>
						<!----><!---->                </div>
						<!---->
												<div class="block-content ">


								
						<div class="block-content__top">

							
						<div class="cdr-range-inline   theme-dark  ">
						<!---->
							<a class="range-selector em ">
								<span class="date">

										Month to Date

										(Mar 31 - Apr 12)
								</span>
								<span class="icon icon-arrow-down"></span>
							</a>
						</div>


							<div class="block-options">
						<!---->            
							<a class="visualization-switch icon icon-visualization-switch "></a>

						<!---->    </div>

						</div>


								<div class="block-content__main" role="button">

									
						<div class="bc__title">
							
						<div class="editable-text editable-text-title tooltipstered">
								<div role="button">
									MRR &amp; Customers
								</div>

									<span class="faketooltipcomponent">
						</span>


								
						</div>

						</div>



											<div class="bc__top-numbers bc__top-numbers--multiple ">
							<div class="bc_top-numbers-inner" style="max-height: 80.5591px; height: 80.5591px;">
								<a class="arrow arrow--prev">&lt;</a>
								<div class="bc_top-numbers-grid" style="width: 178px; grid-template-rows: repeat(1, 1fr); grid-template-columns: repeat(2, 1fr);">
										<div class="bc__number action-target  " data-dsid="18907198" style="font-size: 1em;">

								<span class="bc__number-title highcharts-color-0">MRR</span>

							<span class="bc__number-content">

								<span class="bc__value-wrapper">
									
						<span class="bc__value" style="display: inline-block; font-size: 1.7em;">
						<!---->
								$ 558.00
						</span>

								</span>

						<!---->
								

						<!---->

							</span>

						</div>

										<div class="bc__number action-target  " data-dsid="18907196" style="font-size: 1em;">

								<span class="bc__number-title highcharts-color-14">Active Subscriptions</span>

							<span class="bc__number-content">

								<span class="bc__value-wrapper">
									
						<span class="bc__value" style="display: inline-block; font-size: 1.7em;">
						<!---->
								123
						</span>

								</span>

						<!---->
								

							<div class="bc__compares">
										<div class="bc__compare bc__compare--negative">
											<span class="bc__compare__change">▼ 72%</span>
													<small class="bc__compare__text">
														vs previous period
														 (434)
													</small>
										</div>
							</div>


							</span>

						</div>

								</div>
								<a class="arrow arrow--next">&gt;</a>
							</div>
						</div>


						<!---->
									
								</div>

							
						<!---->
						</div>


								</div>

									

						<!---->
									
						<div class="data-status-icon data-status-icon-for-block theme-light">
								<span class="icon icon-info color--default"></span>
						</div>

								

							</div>
						</div>


										</div>
									<div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div></div><div class="gridboard-item ui-draggable ui-draggable-handle ui-resizable ui-draggable-disabled ui-resizable-disabled" data-blockid="86487930" data-order="5" data-localid="28" data-transitioning="false" data-gb-id="28" data-gb-min-width="2" data-gb-min-height="2" data-gb-max-width="16" data-gb-max-height="8" data-gb-no-move="false" data-gb-no-resize="false" data-gb-x="0" data-gb-y="3" data-gb-width="5" data-gb-height="5">
										
									<div class="gridboard-item-content     ">

													
						<div class="preview-block  visualization--9" data-sample-v="1193910603" data-order="5" data-localid="28" style="font-size:5.058620125px;--block-bg-color:transparent;" data-clientrender-v="-1374243426">
							<div role="link" class="block-link disabled " style="">

								<div id="b86487930" class="block    " style="margin-top:71%;">
										<div class="active-block">
											<small></small>
						<!---->                    <span role="button" class="del tooltipstered"><span class="icon icon-delete"></span><span class="faketooltipcomponent">
						</span>
						</span>
											<span role="button" class="copy tooltipstered"><span class="icon icon-duplicate"></span><span class="faketooltipcomponent">
						</span>
						</span>
						<!----><!---->                </div>
						<!---->
												<div class="block-content " style="font-size:4px;">


								
						<div class="block-content__top">

							
						<div class="cdr-range-inline   theme-dark  ">
						<!---->
							<a class="range-selector em ">
								<span class="date">

										Month to Date

										(Apr 1 - 12)
								</span>
								<span class="icon icon-arrow-down"></span>
							</a>
						</div>


							<div class="block-options">
						<!---->            
							<a class="visualization-switch icon icon-visualization-switch "></a>

						<!---->    </div>

						</div>


								<div class="block-content__main" role="button">

									
						<div class="bc__title">
							
						<div class="editable-text editable-text-title tooltipstered">
								<div role="button">
									MRR Overview
								</div>

									<span class="faketooltipcomponent">
						</span>


								
						</div>

						</div>



										
						<div class="bc__table ">
							<table width="100%" cellspacing="0" cellpadding="0" style="font-size:6px;">
								<colgroup>
						<!---->            <col> 
										<col class="hideable col--0">
											<col class="hideable col--0">
								</colgroup>
								<thead>
									<tr class="bc__table__row--header">
						<!---->                <th class="bc__table__cell--label">
											<span class="bc__label">
												Metric
											</span>
										</th>
											<th class="bc__table__cell--value hideable col--0 action-target" data-colidx="0">
												<span class="bc__label">
													Value
												</span>
						<!----><!---->                    </th>
												<th class="bc__table__cell--compare hideable col--0 action-target" data-colidx="0">
													
						<span class="bc__label" title="">vs prev</span>

						<!---->                        </th>
									</tr>
								</thead>
								<tbody>

										<tr>
						<!---->                    <td class="bc__table__cell--label action-target" data-dsid="18907209">
												<span class="bc__label">
													New MRR
												</span>
											</td>
												<td class="bc__table__cell--value hideable col--0 action-target" data-dsid="18907209">
															<div class="bc__number">
																
						<span class="bc__value">
						<!---->
								$ 381.5k
						</span>

															</div>
												</td>
													<td class="bc__table__cell--compare hideable col--0 action-target" data-dsid="18907209">
															<div class="bc__number">
																

							<div class="bc__compares">
										<div class="bc__compare bc__compare--positive">
											<span class="bc__compare__change">▲ 46%</span>
						<!---->                </div>
							</div>

															</div>
													</td>
										</tr>
										<tr>
						<!---->                    <td class="bc__table__cell--label action-target" data-dsid="18907207">
												<span class="bc__label">
													Upgrades
												</span>
											</td>
												<td class="bc__table__cell--value hideable col--0 action-target" data-dsid="18907207">
															<div class="bc__number">
																
						<span class="bc__value">
						<!---->
								$ 27.2k
						</span>

															</div>
												</td>
													<td class="bc__table__cell--compare hideable col--0 action-target" data-dsid="18907207">
															<div class="bc__number">
																

							<div class="bc__compares">
										<div class="bc__compare bc__compare--negative">
											<span class="bc__compare__change">▼ 38%</span>
						<!---->                </div>
							</div>

															</div>
													</td>
										</tr>
										<tr>
						<!---->                    <td class="bc__table__cell--label action-target" data-dsid="18907205">
												<span class="bc__label">
													Churned MRR
												</span>
											</td>
												<td class="bc__table__cell--value hideable col--0 action-target" data-dsid="18907205">
															<div class="bc__number">
																
						<span class="bc__value">
						<!---->
								$ 2,445.00
						</span>

															</div>
												</td>
													<td class="bc__table__cell--compare hideable col--0 action-target" data-dsid="18907205">
															<div class="bc__number">
																

							<div class="bc__compares">
										<div class="bc__compare bc__compare--positive">
											<span class="bc__compare__change">▼ 31%</span>
						<!---->                </div>
							</div>

															</div>
													</td>
										</tr>
										<tr>
						<!---->                    <td class="bc__table__cell--label action-target" data-dsid="18907203">
												<span class="bc__label">
													Refunds
												</span>
											</td>
												<td class="bc__table__cell--value hideable col--0 action-target" data-dsid="18907203">
															<div class="bc__number">
																
						<span class="bc__value">
						<!---->
								$ 4,257.00
						</span>

															</div>
												</td>
													<td class="bc__table__cell--compare hideable col--0 action-target" data-dsid="18907203">
															<div class="bc__number">
																

							<div class="bc__compares">
										<div class="bc__compare bc__compare--negative">
											<span class="bc__compare__change">▲ 303%</span>
						<!---->                </div>
							</div>

															</div>
													</td>
										</tr>
										<tr>
						<!---->                    <td class="bc__table__cell--label action-target" data-dsid="18907201">
												<span class="bc__label">
													Discounts in MRR
												</span>
											</td>
												<td class="bc__table__cell--value hideable col--0 action-target" data-dsid="18907201">
															<div class="bc__number">
																
						<span class="bc__value">
						<!---->
								$ 4,994.00
						</span>

															</div>
												</td>
													<td class="bc__table__cell--compare hideable col--0 action-target" data-dsid="18907201">
															<div class="bc__number">
																

							<div class="bc__compares">
										<div class="bc__compare bc__compare--positive">
											<span class="bc__compare__change">▲ 73%</span>
						<!---->                </div>
							</div>

															</div>
													</td>
										</tr>
										<tr>
						<!---->                    <td class="bc__table__cell--label action-target" data-dsid="18907199">
												<span class="bc__label">
													Downgrades
												</span>
											</td>
												<td class="bc__table__cell--value hideable col--0 action-target" data-dsid="18907199">
															<div class="bc__number">
																
						<span class="bc__value">
						<!---->
								$ 3,592.00
						</span>

															</div>
												</td>
													<td class="bc__table__cell--compare hideable col--0 action-target" data-dsid="18907199">
															<div class="bc__number">
																

							<div class="bc__compares">
										<div class="bc__compare bc__compare--negative">
											<span class="bc__compare__change">▲ 36%</span>
						<!---->                </div>
							</div>

															</div>
													</td>
										</tr>

						<!---->
								</tbody>
							</table>

						</div>



								</div>

							
						<!---->
						</div>


								</div>

									<small class="resize-dot dot-n"></small>
									<small class="resize-dot dot-ne"></small>
									<small class="resize-dot dot-e"></small>
									<small class="resize-dot dot-se"></small>
									<small class="resize-dot dot-s"></small>
									<small class="resize-dot dot-sw"></small>
									<small class="resize-dot dot-w"></small>
									<small class="resize-dot dot-nw"></small>

						<!---->
									
						<div class="data-status-icon data-status-icon-for-block theme-light">
								<span class="icon icon-info color--default"></span>
						</div>

								

							</div>
						</div>


										</div><div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div></div></div>
						</div>


										<div class="bottomInfo " style="font-size:6px;position:absolute;bottom:-14px;z-index:3;">

										   
							
						<!---->
												<div class="warning">
													<div class="sample">Note: Showing sample data</div>
												</div>


														<span class="default-view"><a tabindex="0">Reset</a></span>

													<div class="master-date-range">

							
						<div class="cdr-range-inline nullable  theme-light ">
							<a class="range-selector em " tabindex="0">
								<span class="range-label icon icon-calendar3">Date Range</span>

									Month to Date
						<!---->
							</a>
						</div>


						</div>



						<!---->
						<!---->

										</div>

									</div>

						<!---->        </div>
							</div>

						</div>


						<!---->    </div>
						</div></div></div></div>

							<div id="slider-nav" class="bgTheme-light" style="font-size: 4.64762px; padding-bottom: 0px;">
								<div id="slider-timer" style="display: none;"><span style=""></span></div>
								<div class="slider__controls">
						<!---->            <div id="slider-dots" class="single">
						<!---->            <ul class="slick-dots" role="tablist"><li class="slick-active tooltipstered dot--size-big" role="presentation"><button type="button" role="tab" id="slick-slide-control40" aria-controls="slick-slide40" aria-label="1 of 1" tabindex="0" aria-selected="true">1</button></li></ul></div>
						<!---->        </div>

							</div>

						</div>


						<!---->

						<!---->
						<!---->        </div>

							</div>
			  </div>
		  </div>
		</div>
		</div>
		</div>
    </div>
  </div>
  <!-- / -->
</div>
</div>
